<%= image_tag("https://live.staticflickr.com/65535/33890483388_bbbc313b31_o.jpg", :alt => "Cats and mice jumping around books", class: "img-fluid") %>
<br class="top-buffer">
  <article class="browse-option">
    <section class="browse-products">
    <div class="banner"><h3>Catsy Picks</h3></div>
    <% products = Product.active(@products).sample(3) %>
    <section class="cards">
      <% products.each do |product| %>
      <%= render partial: "shared/card", locals: { product: product } %>
    <% end %>
    </section>
</section>

<section class="top-sellers">
  <div class="banner"><h3>Our Top Sellers</3></div>
  <% products = Product.most_popular.sample(5) %>
  <section class="cards">
    <% products.each do |product| %>
     <%= render partial: "shared/card", locals: { product: product } %>
  <% end %>
  </section>

<section>
