<%= image_tag("https://live.staticflickr.com/65535/33890483388_bbbc313b31_o.jpg", :alt => "Cats and mice jumping around books", class: "img-fluid") %>
<% products = @products.sample(6) %>

<ul>
  <% products.each do |product| %>
    <%= link_to(image_tag(product.photo_url, :alt => "Photo of ""#{product.name}"), product_path(product)) %>
    <li><%= link_to product.name, product_path(product) %> | <%= "$""#{'%.2f' % (product.price / 100.00)}" %></li>
  <% end %>
</ul>