<h2><%= @seller.username %></h2>
<section class="cards">
  <% if @seller.products.count == 0 %>
    <p>Sorry. This seller has no items available at the moment.</p>
  <% else %>
    <% @seller.products.each do |product| %>
      <%= render partial: "shared/card", locals: { product: product } %>
    <% end %>
  <% end %>
</section>