// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews {
  margin: 2rem 4rem;
}

.rating {
  display: inline-block;
  position: relative;
}

.rating input[type="radio"] {
  display: none;
}

.rating:not(:checked) > label {
    float: right;
    width: 1.2em;
    padding: 0 .25em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color:#ccc;
}

.rating:not(:checked) > label:before {
    font-family: FontAwesome;
    content: "\f1b0";
}

.rating > input:checked ~ label {
  color: #3e8dc9;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label,
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: black;
}