// Place all the styles related to the sellers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// section.table-container {
//   padding: 3rem;
// }
.grid-body > * {
  margin: 2rem 4rem;
}


.table {
  width: 100%;
}
h2 {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.order-flex {
  display: flex;
  padding: 1rem 0;
}
.order-flex.stat-box {
  flex-wrap: flex;
}
.order-info {
  padding: 2rem;
  margin-right: 3rem;
  background-color: rgb(198, 229, 230) ;
  width: 250px;
  height: 225px;
}
.stat-item {
  width: 200px;
  text-align: center;
  padding: 1rem 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(198, 229, 230) ;
}
.stat-item:last-child {
  margin-right: 0;
}
.stat-title {
  height: 50px;
}
