<h2><%= (@category.name).capitalize %></h2>
<section class="cards">
  <% Product.active(@category.products).each do |product| %>
    <%= render partial: "shared/card", locals: { product: product } %>
    <% end %>
  </section>
