<h2><%= (@category.name).capitalize %></h2>
<section class="cards">
<% @category.products.each do |product| %>
  <article>
    <div class="card">
      <%= image_tag(product.photo_url, class: "card-img-top", :alt => "Photo of ""#{product.name}") %>
      <div class="card-body">
        <%= link_to product.name, product_path(product) %> 
        <br>
        <%= "$""#{'%.2f' % (product.price / 100.00)}" %>
      </div>
    </div>
  </article>
<% end %>
</section>

