<section class="grid-container">


  <%= render "shared/dashboard_header", locals: { seller: @current_seller } %>
  <section class="grid-body">
  <h2>Create new product</h2>

  <%= render "form", url: seller_products_path(session[:seller_id]) %>
</section>
</section>